<?xml version="1.0"?>

<configuration>
  <system.webServer>
   <rewrite>
      <rules>
        <rule name="HTTP TO HTTPS" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$" />
            <add input="{HTTP_HOST}" matchType="Pattern" pattern="^localhost(:\d+)?$" negate="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="SeeOther" />
        </rule>
       
      </rules>
    </rewrite>
    <directoryBrowse enabled="true" />
  </system.webServer>


</configuration>